<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xem lịch giảng dạy</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/tkb.css">
</head>
<body>
    <header>
        <div class="navbar">
            <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16" style="margin: 0 0 -2 0;">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
              </svg>
               <a href="dashboard2_GV.html" style="text-decoration: none; color: aliceblue;"> Trang chủ </a>
            </span>
            <span>Quy chế - Quy định</span>
            <span>Thực tập, Đồ án</span>
            <span>Thủ tục Một cửa</span>
            <span>Một cửa Online</span>
            <span>Email HUMG</span>
            <span>Thông tin</span>
        </div>
    </header>

    <div class="container">
        <div class="left-content">
            <h2>Thời Khóa Biểu</h2>
            <table>
                <thead>
                    <tr>
                        <th>Thứ</th>
                        <th>Môn học</th>
                        <th>Mã môn</th>
                        <th>Mã lớp</th>
                        <th>Số tín chi</th>
                        <th>Phòng</th>
                        <th>Danh sách sinh viên</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Thứ 2</td>
                        <td>Lập trình C</td>
                        <td>7080216</td>
                        <td>DCCTCT66</td>
                        <td>2</td>
                        <td>101</td>
                        <td > <a href=""> >> Xem danh sách</a></td>
                    </tr>
                    <tr>
                        <td>Thứ 3</td>
                        <td>Lập trình java</td>
                        <td>7080223</td>
                        <td>DCC32</td>
                        <td>3</td>
                        <td>401</td>
                        <td > <a href=""> >> Xem danh sách</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <aside class="sidebar">
            <div class="login-box">
                <h3>THÔNG TIN</h3>
                <p>Mã giảng viên: 2121051396</p>
                <p>Họ và tên: Đinh Thế Tú</p>
                <a href="login.html" class="logout-btn">Đăng xuất</a>
            </div>
            <div class="feature-box">
                <h3>TÍNH NĂNG</h3>
                <ul>
                    <li> <a href="diem.html">Quản lý điểm</a></li>
                    <li> <a href="lichgiangday.html">Xem lịch giảng dạy</a></li>
                    <li> <a href="dangkygiangday.html">Đăng ký giảng dạy</a></li>
                </ul>
            </div>
        </aside>
    </div>
    <script src="../static/js/script.js"></script>
    </div>
</body>
</html>
